@import "../mixins";

#voyager-feed {
  background: $deep-light;

  .ember-view .feed-identity-module__actor-meta {
    background-color: $deep;
  }

  aside.left-rail .artdeco-card, aside.left-rail .entity-list li.entity-list-item a {
    background-color: $deep;
  }

  .ember-view {
    .feed-identity-module__actor-meta .profile-rail-card__actor-link,
    .feed-identity-module__actor-meta p.identity-headline, li.entity-list-item .ember-view, .premium-upsell-link a, .premium-upsell-link h3, a.ember-view span {
      color: $light;
    }

    svg, section header h2.community-panel-interest-package__header a.ember-view span, .community-panel-interest-package__header {
      color: $accent;
    }

    .sticky .artdeco-card a.community-panel__discover-cta {
      color: $light;
    }

    .core-rail {

      .artdeco-dropdown button .display-flex {
        span:nth-child(1), span:nth-child(3) {
          color: $accent;
        }

        span:nth-child(2) {
          color: $light;
        }
      }

      .share-box-feed-entry__wrapper.artdeco-card {
        background: $deep;
        border: 1px solid $light;
        box-shadow: -1px 1px 32px -17px $light;

        .display-flex button {
          color: $light;
        }
      }

      .ember-view .relative .feed-shared-update-v2 {
        background: #16212b !important;
        color: $accent;
        border: 1px solid #fff !important;
        .feed-shared-aggregated-content__list-item{
          .feed-shared-update-v2--aggregated{
            .feed-shared-entity__description-container{
              color: $light;
            }
          }
          .feed-shared-entity__content-wrapper, .feed-shared-entity__subtitle{
            color: $accent;
          }
        }
        .feed-shared-announcement {
          .feed-shared-announcement__description-container h2 {
            color: $light;
          }
        }

        .social-details-social-activity {
          .comments-quick-comments {
            .comments-quick-comments__reply-button {
              button {
                border: 1px solid $accent;

                span {
                  color: $light;
                }
              }
            }
          }

          .feed-shared-update-v2__comments-container {
            .comments-comment-box .comments-comment-box__form-container form .comments-comment-texteditor {
              .comments-comment-box-comment__text-editor > div {
                background: none !important;
              }
              .ember-view{
                background: none !important;
                .artdeco-hoverable-trigger{
                  background: none !important;
                  button{
                    margin: 0 2px !important;
                  }
                }
              }
            }
            .comments-sort-order-toggle{
              .comments-sort-order-toggle__dropdown{
                button span{
                  color: $light;
                }
              }
            }
            .comments-comments-list article{
              .comments-comment-item__post-meta{
                .comments-post-meta__headline{
                  color: $accent;
                }
              }
              .comments-comment-item__options time{
                color: $light;
              }
              .social-details-social-activity{
                .comments-comment-item__social-actions .comments-comment-social-bar{
                  .artdeco-button__text span, button span{
                    color: $light;
                  }
                }
              }
              .comments-highlighted-comment-item-content-body{
                background: none !important;
                .comments-highlighted-comment-item__show-more-text p span{
                  color: $light;
                }
              }
            }
            .comments-comments-list__show-previous-container{
              button span{
                color: $accent;
              }
            }
          }
        }

        .display-flex .feed-shared-actor__meta span.feed-shared-actor__description, svg {
          color: $accent;
        }

        .display-flex .feed-shared-actor__meta span.feed-shared-actor__title {
          color: $light;
        }

        .feed-shared-update-v2__description-wrapper div.ember-view span span {
          color: $light;
        }

        .feed-shared-update-v2__content .flex-grow-1 .display-flex {
          .feed-shared-article__section h2 span {
            color: #000 !important;
          }
        }

        .feed-shared-update-v2__content.feed-shared-article--with-large-image {
          .feed-shared-article__description-container {
            h2.feed-shared-article__title span, h3.feed-shared-article__subtitle {
              color: $light;
            }
          }
        }

        .social-details-social-activity {
          .social-details-first-prompt-block button {
            color: $light;
          }

          .social-details-social-counts button span {
            color: $light;
          }

          .feed-shared-social-actions .artdeco-button__text, .social-details-first-prompt-block p {
            color: $light;
          }
          .comments-comment-item__replies-list article{
            .comments-reply-item__post-meta{
              .comments-post-meta__headline{
                color: $accent;
              }
            }
            .comments-reply-item-content-body{
              background: none !important;
              .comments-comment-item__main-content span{
                color: $light;
              }
            }
          }
        }
      }

      .share-box-feed-entry__bottom-bar-wrapper .artdeco-button__text {
        color: $light;
      }

      .feed-shared-header__text-view {
        color: $light;
      }
    }

    aside.right-rail .mb2 section.artdeco-card .feed-follows-module {
      background: $deep;
      border: $light 1px solid;
      border-radius: 9px;

      .feed-follows-module__title h2 {
        color: $light;
      }

      .feed-follows-module__list li .feed-follows-module-recommendation__description p {
        color: $accent;
      }
    }
  }

}

