@import "mixins";

.dark_theme {
  @import "utils";
  @import "header";
  @import "pages/feed";
  @import "pages/network";
  @import "pages/jobs";
  @import "pages/message";
  @import "pages/notifications";
  @import "pages/profile";
  @import "chat";
}
.theme_icon {
  width: 35px;
  right: 6px;
  position: absolute;
  top: 9px;
  cursor: pointer;
}
